{% extends 'blog/base.html' %}
    
{%block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {color: brown;}
        .num {font-size:xx-large; color: blue}
       </style>
    </head>
{%endblock%}

{%block content%}
    
<div class="w3-container">
    <h1>Statistiche di visita</h1>
    Utenti che hanno visitato la pagina: <span class="num"> {{num_visitor}} </span> <p>
    Per un totale di visite: <span class="num"> {{tot_visite}} </span>
</div>
    
{%endblock%}